.project {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


}

.iconProject {
    height: 350px;
    width: 100%;
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;


}


.titleBlock {;
    width: 280px;
    padding: 10px;

}

.title {
    background-color: darkgray;


}

.description {
    background-color: darkgray;
    min-height: 50px;
}